.basic__add{
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-top: 73px;
  }
  &__icons{
    display: flex;
    justify-content: space-between;
  }
  &__icon{
    img{
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .add{
    &__subtitle{
      font-weight: bolder;
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__descr{
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      span{
        color: red;
        font-family: "Lobster", cursive;
      }
    }
  }
}