@media  (max-width: 991px)
  .basic
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 60px
    li
      color: #00d0ff
      cursor: pointer
      list-style: none
      a
        text-decoration: none
        color: #00d0ff
        padding: 5px
        font-size: 16px
      img
        width: 19px
        height: 18px
  .promo
    &_div
      height: 550px
    &_logo
      img
        width: 117px
      &_text
        font-size: 11px
    &_title
      font-size: 22px
    &_simple
      font-size: 18px
    &_big_title
      width: 334px
      height: 149px
  .mobile
    &_clo
      width: 259px
      height: 234px
    &_simple
      font-size: 22px
    &_left
      img
        width: 25px
    &_rigt
      img
        width: 25px
  .promo_section
    .basic_product
      width: 259px
      height: 234px
      &:hover table
        height: 80px
        border-radius: 0
        border-top-right-radius: 14px
        border-top-left-radius: 14px
  .global
    &_items
      &_item
        img
          width: 51%
          height: 271px
    &_simple
      width: 432px
      height: 327px
    &_btn
      width: 116px
      height: 34px