*{
    font-family: Serif;
    box-sizing: border-box;
}
header{
    position: relative;
}
nav {

    height: 50px;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    margin: 0;
    list-style: none;
}
.menu .menu_link{
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.menu .li_menu{
    border-right: 2px dotted black;
    padding-right:60px ;
}
.menu .li_menu:nth-child(6) {
    border-right: 0;
}
.subheader{
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 6px;

}
.subheader .subheader_logo img{
    display: block;
    margin: 0 auto;
    width: 115px;
}
.subheader .subheader_official{
    color: white;
    opacity: 0.5;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}
.subheader .subheader_phone{
    display: block;
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    text-align: right;
}
.subheader .subheader_cell{
    display: block;
    margin-top: 19px;
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    text-align: right;
}
.subheader .subheader_btn{
    width: 150px;
    height: 40px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0, 0.12);
    border: 3px solid rgba(0,0,0, 0.27);
    background-image: linear-gradient( to top, #1eacc7 0% , #4ce2ff 100%);
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 19px;
    border-radius: 4px;
}
.promo{

    min-height: 800px;
    background: url("https://wallbox.ru/wallpapers/main/201430/945e1ed5cd13fb2.jpg") center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header{

    color: #e7ff00;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;

}
.promo .promo_subheader{
    font-size: 36px;
    color: #ff0000;
    font-weight: 700;
    margin-top: 22px;
}
.promo .promo_descr{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.promo .promo_btn{
    display: block;
    margin:  118px auto 0 auto;
    width: 150px;
    height: 40px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0, 0.12);
    border: 3px solid rgba(0,0,0, 0.27);
    background-image: linear-gradient( to top, #1eacc7 0% , #4ce2ff 100%);
}
.cards_section .container{
    display: flex;

}
.cards_section .container .icons{
    display: flex;
    flex-wrap: wrap;
    padding: 148px 0 20px 0;
}
.cards_section .container .icons .col-md-4 {
    display: flex;
}
.cards_section .container .icons p{
    margin-left: 30px;
    border: 1px solid;
    text-align: center;
    border-radius: 15px;
}
.game_section .container .game_info{

    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 260px;
    margin: 0 auto;
    background-color: chartreuse;
}
.game_section .container .game_infos{
    text-align: center;
}
.game_section .container .basic_info .game{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 99px 0 20px 0;
}
.game_section .container .basic_info .games p{
    z-index: 2;
}
.game_section .container .basic_info .games:nth-child(1){
    background: url("https://i.pinimg.com/736x/d9/d3/6f/d9d36f393a6d6b0d5c4a71e622966e65.jpg") center center/cover no-repeat ;
    width: 290px;
    height: 200px;
    margin: 15px;
    border: 1px solid;
}
.game_section .games {
  border: 1px solid;
  width: 330px;
  height: 250px;
  border-radius: 20px;
  margin: 5px;
}
.game_section .container .basic_info .games:nth-child(2){

}
